# Copie ce fichier en .env.local et remplis les valeurs
# cp .env.example .env.local

NEXT_PUBLIC_COMPANY_PHONE=""
NEXT_PUBLIC_COMPANY_GSM=""
NEXT_PUBLIC_COMPANY_EMAIL=""
NEXT_PUBLIC_COMPANY_ADDRESS=""
NEXT_PUBLIC_COMPANY_RC=""
NEXT_PUBLIC_COMPANY_CNSS=""
NEXT_PUBLIC_COMPANY_ICE=""
